name: Go
on: [push]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Lint
        uses: gardenbed/actions/go-lint@main
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Test
        id: test
        uses: gardenbed/actions/go-cover@main
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
